.issue {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 7px 12px;
  overflow: hidden;
  margin-bottom: 5px;
  cursor: default;
  user-select: none;
  &__text {
    font-size: 15px;
    float: left;
  }
  &__star {
    float: right;
    .star {
      cursor: pointer;
      fill-rule: evenodd;
      fill: white;
      stroke: lightgray;
      stroke-width: 1;
      &:hover {
        fill: lightgray;
      }
      &--selected {
        fill: black;
        &:hover {
          fill: black;
        }
      }
    }
  }
}
