@import '~assets/scss/_variables.scss';

.system-buttons {
  background-color: #111022;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 15px;

  .button {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;  

    &--open {
      background-color: #ff5750;
      &:hover {
        background-color: darken(#ff594f, 15%);
      }
    }
    &--resize {
      background-color: #ffbc1b;
      &:hover {
        background-color: darken(#ffbc1b, 15%);
      }
    }
    &--close {
      background-color: #00cd46;
      &:hover {
        background-color: darken(#00cd46, 15%);
      }
    }
  }
}
