.filters {
  background-color: #01011a;
  opacity: 0.85;
  font-size: 16px;
  height: 100%;
  &__list {
    .list {
      padding: 0;
      margin: 0;
      list-style-type: none;
      &__item {
        color: #fff;
        padding-top: 18px;
        padding-bottom: 18px;
        cursor: pointer;
        &:hover {
          background-color: #292a48;
        }
        &.active {
          background-color: #0e0e29;
        }
        .item {
          user-select: none;
          &__icon {
            margin-left: 15px;
            .icon {
              width: 16px;
              height: 16px;
              display: inline-block;
              text-indent: -9999px;
              background-size: 100px 82px;
              &--all {
                background: url(../../../../../assets/images/icon-github.svg);
              }
              &--open {
                background: url(../../../../../assets/images/icon-open-issue.svg);
              }
              &--closed {
                background: url(../../../../../assets/images/icon-closed-issue.svg);
              }
            }
          }
          &__text {
            padding-left: 10px;
            display: inline-block;
            width: 70px;
            font-size: 14px;
          }
          &__count {
            font-family: 'proxima-nova', sans-serif;
            color: #8a8995;
            font-size: 14px;
          }
        }
      }
    }
  }
}
