<div class="filters">
  <div class="filters__list">
    <ul class="list" *ngIf="_issuesService.getFilteredIssues(issuesStatus.ALL)">
      <li class="list__item" (click)="setIssuesStatus(issuesStatus.ALL)" [ngClass]="{'active': _issuesService.getSelectedStatus() === issuesStatus.ALL }">
          <div class="item">
          <span class="item__icon">
            <i class="icon icon--all"></i>
          </span>
          <span class="item__text">All</span>
          <span class="item__count" *ngIf="_issuesService.getFilteredIssues(issuesStatus.ALL).length">
            {{ _issuesService.getFilteredIssues(issuesStatus.ALL).length }}
          </span>
        </div>
      </li>
      <li class="list__item" (click)="setIssuesStatus(issuesStatus.OPEN)" [ngClass]="{'active': _issuesService.getSelectedStatus() === issuesStatus.OPEN }">
        <div class="item">
          <span class="item__icon">
            <i class="icon icon--open"></i>
          </span>
          <span class="item__text">Open</span>
          <span class="item__count">
            {{ _issuesService.getFilteredIssues(issuesStatus.OPEN).length }}
          </span>
        </div>
      </li>
      <li class="list__item" (click)="setIssuesStatus(issuesStatus.CLOSED)" [ngClass]="{'active': _issuesService.getSelectedStatus() === issuesStatus.CLOSED }">
        <div class="item">
          <span class="item__icon">
            <i class="icon icon--closed"></i>
          </span>
          <span class="item__text">Closed</span>
          <span class="item__count">
            {{ _issuesService.getFilteredIssues(issuesStatus.CLOSED).length }}
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
