@import '~assets/scss/_variables.scss';


.box {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  font-size: 0;
  background: url(./../../../assets/images/background.jpg) fixed no-repeat;
  background-size: cover;
  &__content {
    width: 650px;
    height: 500px;
    background: inherit;
    font-size: 16px;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-left: -317px;
    margin-top: -250px;
    &:before {
      width: 200px;
      height: 600px;
      content: "";
      position: absolute;
      top: -25px;
      left: -25px;
      bottom: 0;
      right: 0;
      background: inherit;
      box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
      filter: blur(10px);
    }
    .content {
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      &__aside {
        width: 150px;
        display: inline-block;
        font-size: 0;
        position: relative;
        height: 100%;
      }
      &__main {
        height: 100%;
        width: 500px;
        position: absolute;
        overflow-y: scroll;
        display: inline-block;
        vertical-align: top;
        background-color: #f6f6f6; 
        .issues {
          list-style-type: none;
          padding: 0 10px;
          margin: 0;
          .date{
            font-size: 12px;
            color: #a7a6af;
            margin-bottom: 5px;
            margin-top: 8px;
            cursor: default;
            user-select: none;
          }
        }
      }
    }
  }
}