<div class="box">
  <div class="box__content">
    <div class="content">
      <aside class="content__aside">
        <app-system-buttons></app-system-buttons>
        <app-filters></app-filters>
      </aside>
      <main class="content__main">
        <ul class="issues">
          <li *ngFor="let date of dates">
            <div class="date">
              {{ date }}
            </div>
            <div *ngFor="let issue of issues">
              <div *ngIf="issue.date === date">
                <app-issue [issue]="issue"></app-issue>
              </div>
            </div>
          </li>
        </ul>
      </main>
    </div>
  </div>
</div>
